<% include head %>
<main class="trailing-margin">
    <section>
        <div class="grey-widget trailing-margin">
            <div class="page-intro">
                <h1>Events & Talks</h1>
            </div>
        </div>
        <div class="inset">
            <div class="island">
                <section class="dotted-top">
                    <h1>Events</h1>
                    <div class="l-grid l-desktop-grid">
                        <div class="l-desktop-grid-cell l-grid-cell l-desktop-1of3">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="l-desktop-grid-cell l-grid-cell">
                            <section class="trailing-margin">
                                <h1><a href="http://lanyrd.com/series/funjsldn/">FunctionalJS London</a></h1>
                                <p>FunctionalJS is a meetup to learn about functional programming with JavaScript – whether that means using Underscore/Lodash, exploring currying and functional-reactive programming, or languages that compile to JavaScript to bring more functional tools to bear.</p>
                            </section>
                            <!-- <section>
                                <h1><a href="http://lanyrd.com/2014/london-devops-meetup-feb-14/">London DevOps</a></h1>
                            </section> -->
                        </div>
                    </div>
                </section>
            </div>
            <div class="island">
                <section class="dotted-top">
                    <h1>Recents talks by the Guardian</h1>
                    <!-- <section class="trailing-margin">
                        <h1>Videos</h1>
                        <ul class="base-list">
                            <li><iframe width="560" height="315" src="//www.youtube.com/embed/-W0FBNbMLs0" frameborder="0" allowfullscreen></iframe></li>
                        </ul>
                    </section>
                    <section>
                        <h1>Blogs</h1>
                        <p>foo</p>
                        <ul>
                            <li>http://bytes.inso.cc/2014/05/09/reactive-programming-in-javascript-funjs-london/</li>
                            <li>http://bytes.inso.cc/2014/05/09/the-symbiotic-web-frontend-london-nov-2013/</li>
                            <li></li>
                        </ul>
                    </section> -->
                    <ul class="l-grid l-desktop-grid l-desktop-grid--1of3 base-list">
                        <li class="l-desktop-grid-cell">
                            <img src="/images/content/talks/28-09-2013-css-and-the-critical-path.jpg" alt="Preview">
                            <h1 class="h3">Planting the responsive seed – responsive design at the Guardian</h1>
                            <span class="speaker"><a href="#">Patrick Hamann</a></span>
                            <span class="location">Over the Air, <time>June 2013</time></span>
                        </li>
                        <li class="l-desktop-grid-cell">foo</li>
                        <li class="l-desktop-grid-cell">foo</li>
                        <li class="l-desktop-grid-cell">foo</li>
                        <li class="l-desktop-grid-cell">foo</li>
                        <li class="l-desktop-grid-cell">foo</li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
</main>
<% include footer %>
